@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(39, 39, 39);
}

:root {
    --primary-color: #202020;
    --primary-light: #a0b3e5;
    --orange-color: #f35405;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0a0a0a;
    color: #eee;
}


h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;

}

.nav-bar {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.nav-bar.active {

    background-color: var(--primary-color);
    box-shadow: 1px 1px 2px #a0b3e5;

}

.content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.6rem 1rem;
}

.nav-bar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-bar .site-logo {
    padding: 0.5rem;
}


.nav-bar .site-logo .logo-link {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-transform: capitalize;
    color: #fff;
    border-top: 4px solid #fff;
}

.nav-bar .navigation {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    
}

.nav-bar .navigation .link a {
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-top: 1px solid transparent;
    transition: all 0.6s;
    font-size: 2rem;
    margin-left: 400%;
}

.nav-bar .navigation .link:hover a {
    color: #f35405;
    border-top: 1px solid #f35405;
}

#container{
    border-color: #ffffff;
    width: 50%;
    height: 50%;
}

.next {
    background-color: var(--primary-color);
   

}

.next .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    padding: 0rem 1rem;
}

.next .items .card {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    max-width: 350px;
}

.next .items .card .image {
    width: 100%;
    height: 340px;
    overflow: hidden;
    background: linear-gradient(to top, #000, transparent);
    position: relative;

}
.card h4{
    padding-left: 15px;
    font-size: 2rem;
}
.next .items .card .image::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 60%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--primary-color) 5%, transparent);
}

.next .items .card .image img {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    object-fit: cover;
}

.next .card .content-card {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0rem 1rem;
    transform: translateY(-20px);
    color: #fff;
    z-index: 100;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}


.next .card .content-card h4 {
    font-size: 42px;
    font-family: 'Roboto';
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
}

.next .card .content-card p {
    font-size: 16px;
    font-weight: 300;
    color: #eee;
}

.next .card .content-card .btn-read {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #eee;
    padding: 0.8rem 2.4rem;
    width: fit-content;
    background-color: transparent;
    border: 1.6px solid #eee;
    cursor: pointer;
    transition: all 1s ease-in;
    margin-top: 1rem;
}

.next .card .content-card .btn-read:hover {
    padding-left: 3rem;
    color: #fff;
    border: 1.6px solid #fff;

}
.heading{
    text-align: center;
    padding-top: 40px;
    font-size: 1.5rem;
    padding-bottom: 40px;
}

